[DEFAULT]
bind_host = {{env['HOST_ADDRESS']}}
bind_port = 9191
workers = 1
debug = True
verbose = True
use_stderr = True
default_log_levels = amqp=WARN,amqplib=WARN,boto=WARN,iso8601=WARN,keystonemiddleware=WARN,oslo.messaging=DEBUG,oslo_messaging=DEBUG,qpid=WARN,requests.packages.urllib3.connectionpool=WARN,requests.packages.urllib3.util.retry=WARN,routes.middleware=WARN,sqlalchemy=WARN,stevedore=WARN,suds=INFO,taskflow=WARN,urllib3.connectionpool=WARN,urllib3.util.retry=WARN,websocket=WARN
use_syslog_rfc_format=True
notification_driver=messaging
notification_topics=notifications, lma_notifications
default_publisher_id=image.sj1dra1001

[database]
connection = mysql+pymysql://glance:ABqg86C30xGYpbu2sVZvhVxN@{{env['MYSQL_HOST']}}/glance?charset=utf8&read_timeout=60
idle_timeout = 3600
max_pool_size = 30
max_retries = -1
max_overflow = 60

[glance_store]
filesystem_store_datadir = /
os_region_name=uswestsj1

[keystone_authtoken]
auth_uri = http://{{env['KEYSTONE_HOST']}}:5000/
signing_dir = /
identity_uri=http://{{env['KEYSTONE_HOST']}}:35357/
admin_password=c67pBaSJLeSnDXkhnaOyKfyN
admin_tenant_name=services
admin_user=glance

[paste_deploy]
flavor = keystone
